
.seccion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    
    
}

.title{
    color: rgb(255, 255, 255);
}
p{
    margin-top: -60px;
    color: beige;
}



.seccion_owo{

    margin-top: 90px;
    background-color: #0e0e0e;
    border: 2px solid white;
    border-radius: 40px;
    padding: 60px 100px 40px;
    min-height: 400px;
    width: 400px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 20px;
}



.menu{
    margin-right: 30px;
    padding-top: 30px;
    
}


a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



.a_inicio{
    padding-right: 50px;
}

.a_registro{
    padding-left: -20px;
}

.start{
    text-decoration: none;
    color: white;
    background-color: #494949;
    border: 20px solid #494949;
    border-radius: 25px;
    
}