
body{
    background-color: rgb(15, 15, 15);
    
}




header{
    background-color: #000000;
    font-family: 'Ubuntu', sans-serif;
    height: 80px;
    width: 100%;
   
}




.logo{
    width: 55px;
    margin-top: 11px;
    margin-bottom: 5px;
    margin-left: 5px;

}



.creditos{
     
    text-decoration: none;
    font-family: 'Lobster', cursive;

}